body {
    font-family: serif;
}

strong, h2, h3{
    margin-left: 8px;
}

h2 {
    width: fit-content;
    font-size: 2rem;
    margin-top: 18px;
    margin-bottom:0;
}

strong {
    padding-bottom: 10px;
}

h3 {
    text-decoration: underline;
}