h2, h3{
  margin-left: 8px;
}

#gameList {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}
ul li img {
  transform: translateX(-50%);
  margin-top: 5px;
  position: relative;
  left: 50%;

}
