html, body {
  height: 100%;
}


p, ul {
    width:calc(100vw - 100px);
}

h3 {
    text-indent: 8px;
    margin-bottom:0;
}

img {
    float: left;
    height:300px;
    box-sizing: border-box;
}

.tertiaryHeader {
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    font-size: 1.8rem;
}

@media (max-width: 700px) {
    img {
        height:auto;
        width:50%;
        border-right: 2px solid black;
    }
}