#googleMap {
  width:100%;
  height:300px;
  margin:auto;
  transition: height 0.1s ease;
}

#googleMap.expanded {
  height:400px;
}

#questionBox {
  margin:auto;
  margin-top:10px;
  margin-bottom:30px;
  width:100%;
  display:flex;
  gap: 10px;
  justify-content: center;
}

#reloadButton {
  display:block;
  font-size:15px;
  padding:8px 0;
  width:90px;
  border:none;
  color:white;
  background-color:darkblue;
  border-radius:10px;
  transition: color 0.1s ease, background-color 0.1s ease, filter 0.1s ease;
  filter: brightness(1.2);
}

#reloadButton:hover {
  filter: brightness(1);
  color:gainsboro;
  cursor:pointer;
}

#reloadButton:active {
  filter: brightness(1.4);
  color:white;
}

#questionButton {
  display:block;
  font-size:15px;
  padding:8px 0;
  width:90px;
  border:none;
  color:white;
  background-color:crimson;
  border-radius:10px;
  transition: color 0.1s ease, background-color 0.1s ease, filter 0.1s ease;
}

#questionButton:hover {
  background-color:darkred;
  color:gainsboro;
  cursor:pointer;
}

#questionButton:active {
  background-color:crimson;
  color:white;
  filter: brightness(1.2);
}

#expandButton {
  display:block;
  font-size:15px;
  padding:8px 0;
  width:90px;
  border:none;
  color:white;
  background-color:forestgreen;
  border-radius:10px;
  transition: filter 0.1s ease;
  filter: brightness(1);
}

#expandButton:hover {
  filter: brightness(0.8);
  cursor:pointer;
}

#expandButton:active {
  filter: brightness(1.2);
}

@media (min-width: 701px) {
  #googleMap {
    width:700px;
    height:400px;
		margin:auto;
  }

  #googleMap.expanded {
    height:600px;
  }

  #questionBox {
    width:700px;
  }

  #reloadButton {
    font-size:30px;
    padding:0;
    width:220px;
  }

  #questionButton {
    font-size:30px;
    padding:0 18px;
		width:220px;
  }

  #expandButton {
    font-size:30px;
    padding:0;
    width:220px;
  }
}